<%- include('./partials/head-detail') %>
<main class="">
    <div class="image-grid">


        <!--        <img class="image-size" src="https://fdnd-agency.directus.app/assets/<%= house.poster_image %>"-->
        <!--             alt="image house">-->
        <% house.gallery.forEach(image =>{ %>
            <img src="https://fdnd-agency.directus.app/assets/<%= image.directus_files_id.id %>" class="houses-images"
                 alt="images houses">
        <% }) %>
    </div>

    <section class="">

        <h1 class="address-h1"><%= house.street %> <%= house.house_nr %></h1>
        <ul class="detailpage-list-house">
            <li class=""> <%= house.postal_code %> <%= house.city %></li>
            <li class="">
                <img class="icons" src="/assets/icons/wonen.svg"
                     alt=" icoon"> <span class="text-font wonen"> <%= house.m2 %> wonen</span>

            </li>
            <li>
                <img class="icons" src="/assets/icons/perceel.svg"
                     alt="perceel icoon"> <span class="tuin text-font"><%= house.m2_garden %> perceel</span>
            <li>
                <img class="icons" src="/assets/icons/bed.svg" alt="bed icoon">
                <span class="kamers text-font">
                       <%= house.rooms %>   kamers</span></li>
            <li class="price">&euro; <%= house.price %> kk</li>
        </ul>

    </section>

    <section class="description">
        <h2>Beschrijving</h2>
        <p class="house-description-text"><%-house.description %></p>

        <a href="../score.ejs/">scire</a>

        <button type="button" class="button-notes">log in om score te geven over het huis</button>
<!--        todo hier moet de link naar de score pagina-->

    </section>


</main>
<%- include('./partials/foot') %>



