<%- include('./partials/head') %>
<main class="">
    <section class="favorite-section-search">

        <form action="/" method="get" class="">
            <label for="title" class="search-tekst"><span class="search-text">zoek op titel</span>
                <input type="search" name="title" class="input-search">
                <!--ik zeg nu ga zoeken en als name geef ik mee dat het id is en dat daar op gezocht word-->
            </label>
            <button type="submit" class="styling-searchbutton">zoeken</button>
        </form>


        <label for="filters" class="">kies op welke lijst je wilt filteren:</label>

      <select id="filters">
            <option value="lijst1">lijst1</option>
            <option value="lijst2">lijst2</option>
            <option value="lijst3">lijst3</option>
            <option value="lijst4">lijst4</option>
        </select>

    </section>

    <section>
        <h2>uw huizen lijsten</h2>

        <ul class="names-of-houses">


        <% houses.forEach(house => { %>
                <li><a href="/lijsten/<%= house.id %>"
                                               class="link-to-house">de title van de lijst van uw favoriten huis :<%= house.title %></a></li>
            <li>omschrijving van uw favoriten huis :<%= house.description %></li>
            <li class=" border-bottom">dit zijn uw huizen :<%= house.houses %></li>
        <% }) %>
        </ul>


<!--        <h3 class="">hier staan uw huizen</h3>-->
<!--        <ul class="">-->

<!--        </ul>-->
    </section>


</main>
<%- include('./partials/foot') %>
