<%- include('./partials/head-favorite') %>
<main class="">
    <section class="favorite-section-search">

        <form action="/" method="get" class="zoekvak">
            <label for="title" class="search-tekst">zoek op titel van uw favorieten huis
                <input type="search" name="title" class="">
                <!--ik zeg nu ga zoeken en als name geef ik mee dat het id is en dat daar op gezocht word-->
            </label>
            <button type="submit" class="styling-searchbutton">zoeken</button>
        </form>

        <p class="">Gebruik de zoekfunctie om de stad op te zoeken let erop dat alles staat zoals in de database</p>


        <label for="filters">kies op welke lijst je wilt filteren:</label>

        <label for="filters"></label><select id="filters">
            <option value="lijst1">lijst1</option>
            <option value="lijst2">lijst2</option>
            <option value="lijst3">lijst3</option>
            <option value="lijst4">lijst4</option>
        </select>

    </section>
    <section class="second-section-database">
        <h2>uw huizen lijsten</h2>
        <ul>


        <% houses.forEach(house => { %>
                <li class="list border-top"><a href="/lijsten/<%= house.id %>">de title van de lijst van uw favoriten huis :<%= house.title %></a></li>
            <li class="list">omschrijving van uw favoriten huis :<%= house.description %></li>
            <li class="list border-bottom">dit zijn uw huizen :<%= house.houses %></li>
        <% }) %>
        </ul>
        <ul class="grid-infomarition">

        </ul>

        <h3 class="houses-saved-border-top">hier staan uw huizen</h3>
        <ul class="grid-infomarition">

        </ul>
    </section>


</main>
<%- include('./partials/foot') %>
