<%- include('./partials/head') %>
<main class="">
    <section class="favorite-section-search">

        <form action="/" method="get" class="">
            <label for="title" class="search-tekst"><span class="search-text">zoek op titel</span>
                <input type="search" name="title" class="input-search">
                <!--ik zeg nu ga zoeken en als name geef ik mee dat het id is en dat daar op gezocht word-->
            </label>
            <button type="submit" class="styling-searchbutton">zoeken</button>
        </form>
        <label for="filters">Kies op welke lijst je wilt filteren</label><select id="filters">
            <% houses.forEach(house => { %>
            <option value="lijst1"><%= house.title %></option>
                <% }) %>
        </select>


    </section>

    <section>
        <h2>Uw huizen lijsten</h2>
        <p>Klik op de titel of afbeelding van het huis om naar de huizen lijst te gaan te gaan</p>


        <div class="grid-house-lists">

            <% houses.forEach(house => { %>

            <article>
                <ol class="names-of-houses">

                    <a><a href="/lijsten/<%= house.id %>"></a><img src="images/hoouse-icon.jpg" class="image-size"> </a></li>
                    <li class="height-li-items  height-li-items-title">Titel van het huis: <a href="/lijsten/<%= house.id %>"
                           class="link-to-house"><%= house.title %></a></li>
<!--                    <li class="height-li-items omschrijving_li_items">Omschrijving: <%= house.description %></li>-->
<!--                    <button type="button" class="button-got-list"><a href="/lijsten/<%= house.id %>">bekijk lijst</a></button>-->

                </ol>


            </article>


        <% }) %>
        </div>

    </section>


</main>
<%- include('./partials/foot') %>
