<%- include('./partials/head-scoren') %>
<main>


    <section class="users-section-score">
        <h2>gebruikers</h2>
        <p>klik op je icoontje om je eigen lijst te zien nu zit je in de gezamelijke lijst</p>
        <img src="../images/geel.jpg" class="user-profiles" alt="user geel">
        <img src="../images/blauw.jpg" class="user-profiles" alt="user geel">
        <img src="../images/rood.jpg" class="user-profiles" alt="user geel">
        <img src="../images/groen.jpg" class="user-profiles" alt="user geel">
    </section>


    <section class="give-score">


        <h2 class="h2-score">score</h2>
        <p class="p-score">hier kunt u een score geven over het huis </p>


        <form method="POST" action="/score/<%= house.id %>" class="inputfields">
            <input type="hidden" value="<%= house.id %>">


            <label for="algemeen" class="label-inputfield"><span>algemeen:</span>
                <input class="input_fields" type="number" id="algemeen" name="algemeenNumber" value="" placeholder="0">
            </label>
            <label for="keuken" class="label-inputfield"><span>keuken:</span>
                <input class="input_fields" type="number" id="keuken" name="keukenNumber" value="" placeholder="0">
            </label>
            <label for="badkamer" class="label-inputfield"><span>badkamer:</span>
                <input class="input_fields" type="number" id="badkamer" name="badkamerNumber" value="" placeholder="0">
            </label>
            <label for="tuin" class="label-inputfield"><span>tuin:</span>
                <input class="input_fields" type="number" id="tuin" name="tuinNumber" value="" placeholder="0">
            </label>
            <button type="submit" class="submit-cijfer button-notes notes">geef je cijfer</button>

        </form>
    </section>

    <section class="show-the-scores">


    <h2 class="berichten-score">beoordeling agemeen</h2>
    <ul class="output">
        <% if (algemeen.length > 0) { %>
            <% algemeen.forEach(number =>{ %>
                <li class="message">Cijfer algemeen: <%= number %></li>
            <% }) %>
        <% } else { %>
            <li class="message">Cijfer algemeen: No number entered</li>
        <% } %>

        <% if (keuken.length > 0) { %>
            <% keuken.forEach(kitchen_number =>{ %>
                <li class="message">Cijfer keuken: <%= kitchen_number %></li>
            <% }) %>
        <% } else { %>
            <li class="message">Cijfer keuken: No number entered</li>
        <% } %>

        <% if (badkamer.length > 0) { %>
            <% keuken.forEach(kitchen_number =>{ %>
                <li class="message">Cijfer badkamer: <%= kitchen_number %></li>
            <% }) %>
        <% } else { %>
            <li class="message">Cijfer badkamer: No number entered</li>
        <% } %>

        <% if (tuin.length > 0) { %>
            <% tuin.forEach(kitchen_number =>{ %>
                <li class="message">Cijfer tuin: <%= kitchen_number %></li>
            <% }) %>
        <% } else { %>
            <li class="message">Cijfer tuin: No number entered</li>
        <% } %>
    </ul>
    </section>
    <h2 class="berichten-score">notities</h2>
    <form method="POST" action="/score/<%= house.id %>" class="chatbox">
        <input type="hidden" value="<%= house.id %>">
        <label for="bericht">
            <textarea id="test" name="test"></textarea>
        </label>
        <button type="submit" class="button-notes notes">laat je notite achter</button>

    </form>


    <h2 class="berichten-score">Hier zie je uw berichten</h2>
    <ul class="output">
        <% notities.forEach(message =>{ %>
            <li class="message"><%= message %></li>
        <% }) %>
    </ul>
</main>
