<%- include('./partials/head-lijst') %>

<% list.forEach(list => { %>

<article>
    <ol class="names-of-houses">

        <li><a href="/lijsten/<%= list.id %>"></a>
        </li>
        <li class="height-li-items  height-li-items-title"><a
                    href="/lijsten/<%= list.id %>"
                    class="link-to-house"><%= list.title %></a></li>
        <button type="button" class="button-got-list"><a href="/lijsten/<%= list.id %>">bekijk
                lijst</a></button>

    </ol>

</article>

<% }) %>